---
import formatDate from '../functions/formatDate.ts'

interface Props {
  job: string
  enterprise: string
  dateBgin: Date
  dateEnd?: Date
  kAcomp: Array<string>
}

const { job, enterprise, dateBgin, dateEnd, kAcomp } = Astro.props;

const [dateBginF, dateEndF] = [
  dateBgin ? formatDate(dateBgin) : "",
  dateEnd ? formatDate(dateEnd) : ""
];

---

<div class="flex flex-col gap-10">
  <div class="flex flex-col gap-1">
    <h2 class="text-lg font-semibold text-slate-200">{job} • {enterprise}</h2>
    <p class="text-sm text-slate-400">{dateBginF} - {dateEndF}</p>
  </div>
  <ul class="list-disc flex flex-col gap-2 ml-5 text-gray-300 text-md">
    {
      kAcomp.map((item) => (
        <li>{item}</li>
      ))
    }
  </ul>
</div>