---
import ExpCard from "./ExpCard.astro";
import Header from "./Header.astro";

const exps = [
  {
    job: "Development Intern",
    enterprise: "Innormax-Cetos",
    dateBgn: new Date(2024, 5),
    kAcomp: [
      "Successfully transitioned from Development Intern to Product Owner within the team, demonstrating strong leadership and project management skills.",
      "Effectively managed project workflows using Agile Scrum methodology, ensuring timely delivery of high-quality products.",
      "Collaborated with stakeholders to define product vision, roadmap, and release plans, aligning development efforts with business objectives."
    ],
  },
  {
    job: "Full Stack Developer",
    enterprise: "Padre e Hijo",
    dateBgn: new Date(2022, 8),
    dateEnd: new Date(2023, 5),
    kAcomp: [
      "Improved purchasing, increasing conversions by 20%. Integrated gateways, security, and monitored data transmission.",
      "Led designers, developers, and marketers, ensuring successful project delivery, meeting deadlines, exceeding expectations.", 
      "Reduced loading time by 30%, improving user experience, increasing retention, and enhancing search ranking."
    ],
  },
]
---

<section class="w-full">
  <Header>
    Experience 💼
  </Header>
  {
    exps.map((exp) => (
      <ExpCard 
        job={exp.job}
        enterprise={exp.enterprise}
        dateBgin={exp.dateBgn}
        dateEnd={exp.dateEnd}
        kAcomp={exp.kAcomp}
      />
    ))
  }
</section>
